<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
        <li routerLinkActive="active"><a routerLink="appareils">Appareils</a></li>
        <li routerLinkActive="active"><a routerLink="edit">Créer Appareil</a></li>
        <li routerLinkActive="active"><a routerLink="userList">Liste des utilisateurs</a></li>
        <li routerLinkActive="active"><a routerLink="new-user">Créer utilisateur</a></li>
      </ul>
    </div>
  </div>
</nav>
<div>Vous êtes connecté depuis {{seconds}} secondes </div> 
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
      <!--<app-appareil-view></app-appareil-view> Avant le routeur--> 
    </div>
  </div>
</div>